body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* min-width: 1104px; */
}

.kontakt {
    /* height: 100vh;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5rem; */
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #c98860;
}

.sredisnjiDeo {
    display: flex;
    flex-direction: column;
    width: 55%;
    /* height: 90%; */
    background-color: #fff6b7;
    box-shadow: 1px 15px 35px #684129;
    /* margin: 350px 0 200px 0; */
    font-family: 'Poppins', sans-serif;
    color: #055a97;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.levaStrana {
    /* flex: 1; */
    padding: 2rem;
}



/* .levaStrana > p {
    margin-top: 10px;
    font-size: 18px;
    color: #441902c4;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
} */

.info {
    display: flex;
    align-items: center;
    margin: 10px;
}

.info i {
    padding: 15px;
    margin-right: 10px;
    color: #055a97;
    font-size: 23px;
    display: block;
    width: 20%;
    margin-left: 30%;
}

.info p {
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 300;
    width: 50%;
}

/* POLJE TELEFON */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.mapa {
    padding: 2rem;
    padding-bottom: 3rem;
    /* display: flex;
    justify-content: center;
    align-content: center; */
}

@media only screen and (max-width: 844px) {

    .sredisnjiDeo {
        width: 90%;
    }

    .info i {
        width: auto;
        margin-left: 10%;
    }

    .info p {
        width: auto;
    }

    h2 {
        text-align: center;
    }

    iframe {
        height: 280px;
        width: 280px;
    }
}